<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scratchie.js - Simple HTML5 canvas based scratch off panels</title>
    <link rel="stylesheet" href="./assets/normalize.css/normalize.css">
    <style>
        body {
            padding: 30px 0;
            max-width: 600px;
            margin: 0 auto;
        }

        .scratchie {
            border: 1px solid #ddd;
            width: 150px;
            height: 150px;
        }
    </style>
</head>
