<script src="./assets/scratchie.js/scratchie.js"></script>
<script>
    (function() {
        var scratchie = new Scratchie('[data-scratchie]', {
            brush: './assets/images/brush.png',
            onRenderEnd: function() {
                // Show the secret when canvas is rendered.
                this.element.querySelectorAll('.scratchie__secret')[0].style.visibility = 'visible';
            },
            onScratchMove: function(filledInPixels) {
                //console.log(filledInPixels + '%');
            }
        });

        // Global expose
        window.scratchie = scratchie;
    })();
</script>
