<script src="./assets/scratchcard.js/scratchcard.js"></script>
<script>
    (function() {
        var scratchcard = new Scratchcard('[data-provide=scratchcard]', {
            brush: './assets/images/brush.png',
            onRenderEnd: function() {
                // Show the secret when canvas is rendered.
                this.element.querySelectorAll('.scratchcard__secret')[0].style.visibility = 'visible';
            },
            onScratchMove: function(filledInPixels) {
                //console.log(filledInPixels + '%');
            }
        });

        scratchcard.render('image', './assets/images/cover1.png');

        // Global expose
        window.scratchcard = scratchcard;
    })();
</script>
